<!-- <div class="card p-2 mb-2 bg-light-subtle">
  <div class="card-body">
    <div class="card-body p-1">
      <blockquote class="blockquote mb-0">
        <cite title="Source Title">By: {{ user.surname }} {{ user.username }}</cite>
      </blockquote>
    </div>
    <div class="card-header">
      <h2>{{ keypost.title }}</h2>
    </div>

  </div>
  <div class="d-flex m-2">
    <a href="#" class="btn btn-primary m-1">Modifica</a>
    <a href="#" class="btn btn-secondary m-1">Dettagli</a>
    <a href="#" class="btn btn-danger m-1">X</a>

  </div>
</div>
 -->
 